@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Roboto, "Roboto Light", sans-serif;
    }
    body {
        background-color: #E1E1E1;
    }

    .custom-land-page {
        height: 30rem;
        background-image: linear-gradient(182deg, black 24vw, white 2vw);
    }

    .custom-primary-color {
        background-color: #E1E1E1;
    }

    .custom-secondary-color {
        background-color: #F2F2F2;
    }
}

@layer components {
    .custom-links-style li {
        @apply font-semibold text-xl
    }
}